<html><head><title>My name is...</title>
<style>html, body {margin: 0; padding: 0;
font-family: Verdana; font-size: 50px;
font-weight: bold; text-align: center;}</style></head>
<body><p>{{ my_name }}<br>{{ inventory_hostname }}</p></body></html>
